<ng-container>
  <mk-layout-wrapper>
    <mk-layout-header logoLink="/">
      <mk-layout-header-logo><b>Angular </b>AdminLTE</mk-layout-header-logo>
      <mk-layout-header-logo-mini><b>A</b>LTE</mk-layout-header-logo-mini>
      <app-header></app-header>
    </mk-layout-header>
    <mk-layout-sidebar-left>
      <app-sidebar></app-sidebar>
    </mk-layout-sidebar-left>
    <mk-layout-content>
      <router-outlet></router-outlet>
    </mk-layout-content>
    <mk-layout-footer>
      <mk-layout-footer-left>
        <strong>Powered by <a href="#">AdminLTE</a>.</strong>
      </mk-layout-footer-left>
      <mk-layout-footer-right>
        <b>Version</b> 1.0.0
      </mk-layout-footer-right>
    </mk-layout-footer>
  </mk-layout-wrapper>
</ng-container>